body{
    background-color: #1a2243;
}

h1{
    text-align: center;
    margin-top: 3vw;  
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.3vw;
}

#datetime{
    text-align: right;
    color: #fdef97;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    margin-right: 3%;
}

.container1{
    margin-left: auto;
    margin-right: auto;
}

.table1{
    margin-left: auto;
    margin-right: auto;
}

.data{
    margin: 1vw;
    background-color: #1f2d55;
    width: 20vw;
    height: 10vw;
    font-family: 'Courier New', Courier, monospace;
}

.data header{
    text-align: center;
    padding-top: 1.3vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3vw;
}

.data #p_1{
    text-align: center;
    padding-top: 5%;
    color: rgb(145, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
.data #p_2{
    text-align: center;
    padding-top: 5%;
    color: rgb(0, 182, 127);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
.data #p_3{
    text-align: center;
    padding-top: 5%;
    color: rgb(133, 162, 226);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
.data #p_4{
    text-align: center;
    padding-top: 5%;
    color: rgb(216, 24, 24);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}

.container2{
    margin-left: auto;
    margin-right: auto;
}

.table2{
    margin-left: auto;
    margin-right: auto;
}

.subdata{
    margin: 1vw;
    background-color: #1f2d55;
    width: 30vw;
    height: 20vw;
    font-family: 'Courier New', Courier, monospace;
}

.subdata header{
    text-align: center;
    padding-top: 1.3vw;
    padding-bottom: 1vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3vw;
}
.btn_class{
    margin-left: 10vw;
    margin-top: 3vw;
    padding: 15px 25px;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(0, 0, 0);
    width: 10vw;
    height: 3vw;
}
.btn_class:hover {background-color: #a50e0e}
.btn_class:active {
    background-color: #a50e0e;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
  }

.subdata #p_5{
    text-align: center;
    padding-top: 5%;
    color: rgb(216, 24, 24);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}