body{
    background-color: #1a2243;
}

h1{
    text-align: center;
    margin-top: 3%;  
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#datetime{
    text-align: right;
    color: #fdef97;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-right: 3%;
}

.table1{

    left: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.data{
    background-color: #1f2d55;
    width: 500px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
}

.data header{
    text-align: center;
    padding-top: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

